// Key bindings based on the Dotgrid version.

(
    axes: {
    },
    actions: {
        ToggleMenu: [[Key(Tab)]],
        OpenTheme: [[Key(LControl), Key(LShift), Key(O)]],
        ResetTheme: [[Key(LControl), Key(Back)]],
        FileNew: [[Key(LControl), Key(N)]],
        FileOpen: [[Key(LControl), Key(O)]],
        FileSave: [[Key(LControl), Key(S)]],
        FileExportVector: [[Key(LControl), Key(E)]],
        FileExportImage: [[Key(LControl), Key(LShift), Key(E)]],
        EditUndo: [[Key(LControl), Key(Z)]],
        EditRedo: [[Key(LControl), Key(LShift), Key(Z)]],
        ViewColourPicker: [[Key(G)]],
        ViewToggleGrid: [[Key(H)]],
        ViewToggleTools: [[Key(LControl), Key(H)]],
        LayersForeground: [[Key(LControl), Key(Key1)]],
        LayersMiddleground: [[Key(LControl), Key(Key2)]],
        LayersBackground: [[Key(LControl), Key(Key3)]],
        LayersMergeLayers: [[Key(LControl), Key(M)]],
        StrokeLine: [[Key(A)]],
        StrokeArc: [[Key(S)]],
        StrokeArcRev: [[Key(D)]],
        StrokeBezier: [[Key(F)]],
        StrokeClose: [[Key(Z)]],
        StrokeArcFull: [[Key(T)]],
        StrokeArcRevFull: [[Key(Y)]],
        StrokeClearSelection: [[Key(Escape)]],
        StrokeEraseSegment: [[Key(Back)]],
        ControlAddPoint: [[Key(Return)]],
        ControlMoveUp: [[Key(Up)]],
        ControlMoveRight: [[Key(Right)]],
        ControlMoveDown: [[Key(Down)]],
        ControlMoveLeft: [[Key(Left)]],
        ControlRemovePoint: [[Key(X)]],
        StyleLineCap: [[Key(Q)]],
        StyleLineJoin: [[Key(W)]],
        StyleMirror: [[Key(E)]],
        StyleFill: [[Key(R)]],
        StyleThicker: [[Key(LBracket)]],
        StyleThinner: [[Key(RBracket)]],
        StyleThicker5: [[Key(LShift), Key(LBracket)]],
        StyleThinner5: [[Key(LShift), Key(RBracket)]],
    },
)

