#![enable(implicit_some)]
Container(
    transform: (
        id: "sub_menu",
        anchor: Middle,
        stretch: XY( x_margin: 0.0, y_margin: 0.0, keep_aspect_ratio: true),

        // here the z-value is relevant to get shown `in front of' any other UI elements
        z: 2.0,

        width: 720.0,
        height: 720.0,
    ),
    background: SolidColor(0.0, 0.0, 0.0, 0.0),
    children: [
        Button(
            transform: (
                id: "open_theme",
                x: 50,
                y: -22,

                // because of the container, the button will react `before' the elements below it,
                // but we also want to fully draw this button in front of the other elements as well.
                z: 2.0,

                width: 100.0,
                height: 16.0,
                anchor: TopLeft,
                mouse_reactive: true,
            ),
            button: (
                text: "Open Theme",
                font: File("fonts/FreeMonospaced-7ZXP.ttf", ("TTF", ())),
                font_size: 12.0,
                normal_image: SolidColor(1., 1., 1., 1.),
                hover_image: SolidColor(0.0, 0.0, 0.0, 1.),
                press_image: SolidColor(0., 0., 0., 1.),
                normal_text_color: (0.0, 0.0, 0.0, 1.0),
                hover_text_color: (1., 1., 1., 1.0),
                press_text_color: (1., 1., 1., 1.0),
            )
        ),
        Button(
            transform: (
                id: "reset_theme",
                x: 50.0,
                y: -38,
                z: 2.0,
                width: 100.0,
                height: 16.0,
                anchor: TopLeft,
                mouse_reactive: true,
            ),
            button: (
                text: "Reset Theme",
                font: File("fonts/FreeMonospaced-7ZXP.ttf", ("TTF", ())),
                font_size: 10.0,
                normal_image: SolidColor(1., 1., 1., 1.),
                hover_image: SolidColor(0.0, 0.0, 0.0, 1.),
                press_image: SolidColor(0., 0., 0., 1.),
                normal_text_color: (0.0, 0.0, 0.0, 1.0),
                hover_text_color: (1., 1., 1., 1.0),
                press_text_color: (1., 1., 1., 1.0),
            )
        ),
    ]
)