#![enable(implicit_some)]
Container(
    transform: (
        id: "sub_menu",
        anchor: Middle,
        stretch: XY( x_margin: 0.0, y_margin: 0.0, keep_aspect_ratio: true),

        // here the z-value is relevant to get shown `in front of' any other UI elements
        z: 2.0,

        width: 720.0,
        height: 720.0,
    ),
    background: SolidColor(0.0, 0.0, 0.0, 0.0),
    children: [
        Button(
            transform: (
                id: "edit_undo",
                x: 192,
                y: -24,
                z: 2.0,

                width: 145.0,
                height: 16.0,
                anchor: TopLeft,
                mouse_reactive: true,
            ),
            button: (
                text: "Undo                 ⌘Z",
                font: File("fonts/FreeMonospaced-7ZXP.ttf", ("TTF", ())),
                font_size: 10.0,
                normal_image: SolidColor(1., 1., 1., 1.),
                hover_image: SolidColor(0.0, 0.0, 0.0, 1.),
                press_image: SolidColor(0., 0., 0., 1.),
                normal_text_color: (0.0, 0.0, 0.0, 1.0),
                hover_text_color: (1., 1., 1., 1.0),
                press_text_color: (1., 1., 1., 1.0),
            )
        ),
        Button(
            transform: (
                id: "edit_redo",
                x: 192,
                y: -40,
                z: 2.0,
                width: 145.0,
                height: 16.0,
                anchor: TopLeft,
                mouse_reactive: true,
            ),
            button: (
                text: "Redo           ⌘Shift+Z",
                font: File("fonts/FreeMonospaced-7ZXP.ttf", ("TTF", ())),
                font_size: 10.0,
                normal_image: SolidColor(1., 1., 1., 1.),
                hover_image: SolidColor(0.0, 0.0, 0.0, 1.),
                press_image: SolidColor(0., 0., 0., 1.),
                normal_text_color: (0.0, 0.0, 0.0, 1.0),
                hover_text_color: (1., 1., 1., 1.0),
                press_text_color: (1., 1., 1., 1.0),
            )
        ),
    ]
)