#![enable(implicit_some)]
Container(
    transform: (
        id: "sub_menu",
        anchor: Middle,
        stretch: XY( x_margin: 0.0, y_margin: 0.0, keep_aspect_ratio: true),

        // here the z-value is relevant to get shown `in front of' any other UI elements
        z: 2.0,

        width: 720.0,
        height: 720.0,
    ),
    background: SolidColor(0.0, 0.0, 0.0, 0.0),
    children: [
        Button(
            transform: (
                id: "stroke_line",
                x: 373,
                y: -24,
                z: 2.0,

                width: 145.0,
                height: 16.0,
                anchor: TopLeft,
                mouse_reactive: true,
            ),
            button: (
                text: "Line                  A",
                font: File("fonts/FreeMonospaced-7ZXP.ttf", ("TTF", ())),
                font_size: 10.0,
                normal_image: SolidColor(1., 1., 1., 1.),
                hover_image: SolidColor(0.0, 0.0, 0.0, 1.),
                press_image: SolidColor(0., 0., 0., 1.),
                normal_text_color: (0.0, 0.0, 0.0, 1.0),
                hover_text_color: (1., 1., 1., 1.0),
                press_text_color: (1., 1., 1., 1.0),
            )
        ),
        Button(
            transform: (
                id: "stroke_arc",
                x: 373,
                y: -40,
                z: 2.0,
                width: 145.0,
                height: 16.0,
                anchor: TopLeft,
                mouse_reactive: true,
            ),
            button: (
                text: "Arc                   S",
                font: File("fonts/FreeMonospaced-7ZXP.ttf", ("TTF", ())),
                font_size: 10.0,
                normal_image: SolidColor(1., 1., 1., 1.),
                hover_image: SolidColor(0.0, 0.0, 0.0, 1.),
                press_image: SolidColor(0., 0., 0., 1.),
                normal_text_color: (0.0, 0.0, 0.0, 1.0),
                hover_text_color: (1., 1., 1., 1.0),
                press_text_color: (1., 1., 1., 1.0),
            )
        ),
        Button(
            transform: (
                id: "stroke_arc_rev",
                x: 373,
                y: -56,
                z: 2.0,
                width: 145.0,
                height: 16.0,
                anchor: TopLeft,
                mouse_reactive: true,
            ),
            button: (
                text: "Arc Rev               D",
                font: File("fonts/FreeMonospaced-7ZXP.ttf", ("TTF", ())),
                font_size: 10.0,
                normal_image: SolidColor(1., 1., 1., 1.),
                hover_image: SolidColor(0.0, 0.0, 0.0, 1.),
                press_image: SolidColor(0., 0., 0., 1.),
                normal_text_color: (0.0, 0.0, 0.0, 1.0),
                hover_text_color: (1., 1., 1., 1.0),
                press_text_color: (1., 1., 1., 1.0),
            )
        ),
        Button(
            transform: (
                id: "stroke_bezier",
                x: 373,
                y: -72,
                z: 2.0,
                width: 145.0,
                height: 16.0,
                anchor: TopLeft,
                mouse_reactive: true,
            ),
            button: (
                text: "Bezier                F",
                font: File("fonts/FreeMonospaced-7ZXP.ttf", ("TTF", ())),
                font_size: 10.0,
                normal_image: SolidColor(1., 1., 1., 1.),
                hover_image: SolidColor(0.0, 0.0, 0.0, 1.),
                press_image: SolidColor(0., 0., 0., 1.),
                normal_text_color: (0.0, 0.0, 0.0, 1.0),
                hover_text_color: (1., 1., 1., 1.0),
                press_text_color: (1., 1., 1., 1.0),
            )
        ),
        Button(
            transform: (
                id: "stroke_close",
                x: 373,
                y: -88,
                z: 2.0,
                width: 145.0,
                height: 16.0,
                anchor: TopLeft,
                mouse_reactive: true,
            ),
            button: (
                text: "Close                 Z",
                font: File("fonts/FreeMonospaced-7ZXP.ttf", ("TTF", ())),
                font_size: 10.0,
                normal_image: SolidColor(1., 1., 1., 1.),
                hover_image: SolidColor(0.0, 0.0, 0.0, 1.),
                press_image: SolidColor(0., 0., 0., 1.),
                normal_text_color: (0.0, 0.0, 0.0, 1.0),
                hover_text_color: (1., 1., 1., 1.0),
                press_text_color: (1., 1., 1., 1.0),
            )
        ),
        Button(
            transform: (
                id: "stroke_arc_full",
                x: 373,
                y: -104,
                z: 2.0,
                width: 145.0,
                height: 16.0,
                anchor: TopLeft,
                mouse_reactive: true,
            ),
            button: (
                text: "Arc(full)             T",
                font: File("fonts/FreeMonospaced-7ZXP.ttf", ("TTF", ())),
                font_size: 10.0,
                normal_image: SolidColor(1., 1., 1., 1.),
                hover_image: SolidColor(0.0, 0.0, 0.0, 1.),
                press_image: SolidColor(0., 0., 0., 1.),
                normal_text_color: (0.0, 0.0, 0.0, 1.0),
                hover_text_color: (1., 1., 1., 1.0),
                press_text_color: (1., 1., 1., 1.0),
            )
        ),
        Button(
            transform: (
                id: "stroke_arc_rev_full",
                x: 373,
                y: -120,
                z: 2.0,
                width: 145.0,
                height: 16.0,
                anchor: TopLeft,
                mouse_reactive: true,
            ),
            button: (
                text: "Arc Rev(full)         Y",
                font: File("fonts/FreeMonospaced-7ZXP.ttf", ("TTF", ())),
                font_size: 10.0,
                normal_image: SolidColor(1., 1., 1., 1.),
                hover_image: SolidColor(0.0, 0.0, 0.0, 1.),
                press_image: SolidColor(0., 0., 0., 1.),
                normal_text_color: (0.0, 0.0, 0.0, 1.0),
                hover_text_color: (1., 1., 1., 1.0),
                press_text_color: (1., 1., 1., 1.0),
            )
        ),
        Button(
            transform: (
                id: "stroke_clear_selection",
                x: 373,
                y: -136,
                z: 2.0,
                width: 145.0,
                height: 16.0,
                anchor: TopLeft,
                mouse_reactive: true,
            ),
            button: (
                text: "Clear Selection     Esc",
                font: File("fonts/FreeMonospaced-7ZXP.ttf", ("TTF", ())),
                font_size: 10.0,
                normal_image: SolidColor(1., 1., 1., 1.),
                hover_image: SolidColor(0.0, 0.0, 0.0, 1.),
                press_image: SolidColor(0., 0., 0., 1.),
                normal_text_color: (0.0, 0.0, 0.0, 1.0),
                hover_text_color: (1., 1., 1., 1.0),
                press_text_color: (1., 1., 1., 1.0),
            )
        ),
        Button(
            transform: (
                id: "stroke_erase_segment",
                x: 373,
                y: -152,
                z: 2.0,
                width: 145.0,
                height: 16.0,
                anchor: TopLeft,
                mouse_reactive: true,
            ),
            button: (
                text: "Erase Segment   BkSpace",
                font: File("fonts/FreeMonospaced-7ZXP.ttf", ("TTF", ())),
                font_size: 10.0,
                normal_image: SolidColor(1., 1., 1., 1.),
                hover_image: SolidColor(0.0, 0.0, 0.0, 1.),
                press_image: SolidColor(0., 0., 0., 1.),
                normal_text_color: (0.0, 0.0, 0.0, 1.0),
                hover_text_color: (1., 1., 1., 1.0),
                press_text_color: (1., 1., 1., 1.0),
            )
        ),
    ]
)