#![enable(implicit_some)]
Container(
    transform: (
        id: "sub_menu",
        anchor: Middle,
        stretch: XY( x_margin: 0.0, y_margin: 0.0, keep_aspect_ratio: true),

        // here the z-value is relevant to get shown `in front of' any other UI elements
        z: 2.0,

        width: 720.0,
        height: 720.0,
    ),
    background: SolidColor(0.0, 0.0, 0.0, 0.0),
    children: [
        Button(
            transform: (
                id: "style_line_cap",
                x: 986,
                y: -48,
                z: 2.0,

                width: 290.0,
                height: 32.0,
                anchor: TopLeft,
                mouse_reactive: true,
            ),
            button: (
                text: "Linecap               Q",
                font: File("fonts/FreeMonospaced-7ZXP.ttf", ("TTF", ())),
                font_size: 20.0,
                normal_image: SolidColor(1., 1., 1., 1.),
                hover_image: SolidColor(0.0, 0.0, 0.0, 1.),
                press_image: SolidColor(0., 0., 0., 1.),
                normal_text_color: (0.0, 0.0, 0.0, 1.0),
                hover_text_color: (1., 1., 1., 1.0),
                press_text_color: (1., 1., 1., 1.0),
            )
        ),
        Button(
            transform: (
                id: "style_line_join",
                x: 986,
                y: -80,
                z: 2.0,
                width: 290.0,
                height: 32.0,
                anchor: TopLeft,
                mouse_reactive: true,
            ),
            button: (
                text: "Linejoin              W",
                font: File("fonts/FreeMonospaced-7ZXP.ttf", ("TTF", ())),
                font_size: 20.0,
                normal_image: SolidColor(1., 1., 1., 1.),
                hover_image: SolidColor(0.0, 0.0, 0.0, 1.),
                press_image: SolidColor(0., 0., 0., 1.),
                normal_text_color: (0.0, 0.0, 0.0, 1.0),
                hover_text_color: (1., 1., 1., 1.0),
                press_text_color: (1., 1., 1., 1.0),
            )
        ),
        Button(
            transform: (
                id: "style_mirror",
                x: 986,
                y: -112,
                z: 2.0,
                width: 290.0,
                height: 32.0,
                anchor: TopLeft,
                mouse_reactive: true,
            ),
            button: (
                text: "Mirror                E",
                font: File("fonts/FreeMonospaced-7ZXP.ttf", ("TTF", ())),
                font_size: 20.0,
                normal_image: SolidColor(1., 1., 1., 1.),
                hover_image: SolidColor(0.0, 0.0, 0.0, 1.),
                press_image: SolidColor(0., 0., 0., 1.),
                normal_text_color: (0.0, 0.0, 0.0, 1.0),
                hover_text_color: (1., 1., 1., 1.0),
                press_text_color: (1., 1., 1., 1.0),
            )
        ),
        Button(
            transform: (
                id: "style_fill",
                x: 986,
                y: -144,
                z: 2.0,
                width: 290.0,
                height: 32.0,
                anchor: TopLeft,
                mouse_reactive: true,
            ),
            button: (
                text: "Fill                  R",
                font: File("fonts/FreeMonospaced-7ZXP.ttf", ("TTF", ())),
                font_size: 20.0,
                normal_image: SolidColor(1., 1., 1., 1.),
                hover_image: SolidColor(0.0, 0.0, 0.0, 1.),
                press_image: SolidColor(0., 0., 0., 1.),
                normal_text_color: (0.0, 0.0, 0.0, 1.0),
                hover_text_color: (1., 1., 1., 1.0),
                press_text_color: (1., 1., 1., 1.0),
            )
        ),
        Button(
            transform: (
                id: "style_thinker",
                x: 986,
                y: -176,
                z: 2.0,
                width: 290.0,
                height: 32.0,
                anchor: TopLeft,
                mouse_reactive: true,
            ),
            button: (
                text: "Thinker               [",
                font: File("fonts/FreeMonospaced-7ZXP.ttf", ("TTF", ())),
                font_size: 20.0,
                normal_image: SolidColor(1., 1., 1., 1.),
                hover_image: SolidColor(0.0, 0.0, 0.0, 1.),
                press_image: SolidColor(0., 0., 0., 1.),
                normal_text_color: (0.0, 0.0, 0.0, 1.0),
                hover_text_color: (1., 1., 1., 1.0),
                press_text_color: (1., 1., 1., 1.0),
            )
        ),
        Button(
            transform: (
                id: "style_thinner",
                x: 986,
                y: -208,
                z: 2.0,
                width: 290.0,
                height: 32.0,
                anchor: TopLeft,
                mouse_reactive: true,
            ),
            button: (
                text: "Thinner               ]",
                font: File("fonts/FreeMonospaced-7ZXP.ttf", ("TTF", ())),
                font_size: 20.0,
                normal_image: SolidColor(1., 1., 1., 1.),
                hover_image: SolidColor(0.0, 0.0, 0.0, 1.),
                press_image: SolidColor(0., 0., 0., 1.),
                normal_text_color: (0.0, 0.0, 0.0, 1.0),
                hover_text_color: (1., 1., 1., 1.0),
                press_text_color: (1., 1., 1., 1.0),
            )
        ),
        Button(
            transform: (
                id: "style_thicker5",
                x: 986,
                y: -240,
                z: 2.0,
                width: 290.0,
                height: 32.0,
                anchor: TopLeft,
                mouse_reactive: true,
            ),
            button: (
                text: "Thinker +5           ⌘[",
                font: File("fonts/FreeMonospaced-7ZXP.ttf", ("TTF", ())),
                font_size: 20.0,
                normal_image: SolidColor(1., 1., 1., 1.),
                hover_image: SolidColor(0.0, 0.0, 0.0, 1.),
                press_image: SolidColor(0., 0., 0., 1.),
                normal_text_color: (0.0, 0.0, 0.0, 1.0),
                hover_text_color: (1., 1., 1., 1.0),
                press_text_color: (1., 1., 1., 1.0),
            )
        ),
        Button(
            transform: (
                id: "style_thinner5",
                x: 986,
                y: -272,
                z: 2.0,
                width: 290.0,
                height: 32.0,
                anchor: TopLeft,
                mouse_reactive: true,
            ),
            button: (
                text: "Thinner -5           ⌘]",
                font: File("fonts/FreeMonospaced-7ZXP.ttf", ("TTF", ())),
                font_size: 20.0,
                normal_image: SolidColor(1., 1., 1., 1.),
                hover_image: SolidColor(0.0, 0.0, 0.0, 1.),
                press_image: SolidColor(0., 0., 0., 1.),
                normal_text_color: (0.0, 0.0, 0.0, 1.0),
                hover_text_color: (1., 1., 1., 1.0),
                press_text_color: (1., 1., 1., 1.0),
            )
        ),
    ]
)